{% extends 'admin/admin.html.twig' %}

{% block title %}Hello RouteController!{% endblock %}

{% block body %}
<div id="admin-route-globale">
    <h1>{{ "Gestion des routes" | trans }}</h1>

    {{ breadcrumb | breadcrumb | raw }}

</div>
{% endblock %}
