/**
 * CSS custom de l'administration
 * @author Gourdon Aymeric
 * @version 1.0
 */

/**
CSS RUBAN
 */
.ribbon {
    position: absolute;
    left: 0px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: var(--bg-primary);
    background: linear-gradient(var(--bg-primary) 0%, var(--hover-primary) 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid var(--bg-primary);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--bg-primary);
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--bg-primary);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--bg-primary);
}

/** CSS MENU LEFT **/

#left-menu-admin {
    width: 14%;
}

#left-menu-admin.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--bg-primary) !important;
}

#left-menu-admin h2 a{
    color: var(--text-primary-contrast) !important;
}

#left-menu-admin #menu li a {
    padding: 10px 0px 10px 10px;
    display: block;
    color: var(--text-primary-contrast) !important;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

#left-menu-admin #menu a:hover {
    background-color: var(--hover-primary);
}

#left-menu-admin #menu li {
    width: 100%;
}

#left-menu-admin #menu .active {
    background-color: var(--hover-primary);
}

#left-menu-admin #menu {
    width: auto;
}

/**
 CSS pour ajouter une * pour les champs obligatoire
 */
.required:after{
    content:" *";
    font-weight:bold;
    color: var(--text-primary);
}