/**
 * CSS surcharge boostrap 5
 * @author Gourdon Aymeric
 * @version 1.0
 */

a,
a:hover,
a:focus {
    color: var(--text-primary);
    transition: all 0.3s;
}

.nav-link, .nav-link.show {
    color: var(--text-primary);
}

.nav-link:hover {
    color: var(--text-hover-primary);
}

.page-link {
    color: var(--text-primary);
}

.page-link:hover {
    color: var(--text-hover-primary);
}

.card-header {
    background-color: var(--bg-primary-light);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.btn-primary {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--hover-primary);
    border-color: var(--hover-primary);
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: var(--hover-primary);
    border-color: var(--hover-primary);
}

.btn-outline-primary {
    color: var(--bg-primary);
    border-color: var(--bg-primary);
}

.btn-outline-primary:hover {
    background-color: var(--hover-primary) !important;
    border-color: var(--hover-primary);
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: var(--hover-primary);
    border-color: var(--hover-primary);
    box-shadow: 0 0 0 0.25rem rgb(var(--hover-primary-rgb) / 50%);
}

.form-control:focus {
    border-color: var(--bg-primary);
    box-shadow: 0 0 0 0.25rem rgb(var(--hover-primary-rgb) / 50%);
}

.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgb(var(--hover-primary-rgb) / 50%);
}

.accordion-button:not(.collapsed) {
    color: var(--text-primary-contrast);
    background-color: var(--bg-primary);
}

.bg-primary {
    background-color: var(--bg-primary) !important;
    color: var(--text-primary-contrast);
}

.border-primary {
    border-color: var(--bg-primary) !important;
}

.text-primary {
    color: var(--bg-primary) !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--text-primary-contrast);
    background-color: var(--bg-primary);
}