<div id="see-block-content-folder">
    {{ data | renderContentMedia(dataFilter) | raw }}
</div>

{% block javascripts %}

    <script>
        $(document).ready(function () {
            MediaLib.EventContentFolder();
        });
    </script>

{% endblock %}