<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% include 'include/cms-assets.html.twig' %}
        {% include 'themes/horizon/include/assets.html.twig' %}
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
