<div id="left-menu-admin" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-5 text-white min-vh-100">
        <h2><a href="/" class=" align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                <i class="fas fa-bars"></i> <span class="d-none d-sm-inline">Nathéo CMS</span>
            </a></h2>
        <ul class="nav nav-pills mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

            {% set current_path = app.request.get('_route') %}
            {{ current_path | leftMenuAdmin() | raw }}

        </ul>
    </div>
</div>
