<div id="left-menu-admin" class="col-auto col-md-2 px-0 bg-primary">
    <div class="d-flex flex-column px-2 pt-2 text-white min-vh-100">
        <h2 class="ms-2">
            <i class="fas fa-bars"></i>
            <span class="d-none d-md-inline d-lg-none">Nath</span>
            <span class="d-none d-lg-inline">Nathéo CMS</span>
        </h2>
        <ul class="nav nav-pills" id="menu">
            {% set current_path = app.request.get('_route') %}
            {{ current_path | leftMenuAdmin() | raw }}
        </ul>
    </div>
</div>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
