{% extends 'themes/horizon/base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

    Front thème Horizon

    <a class="btn btn-primary" href="{{ path('admin_dashboard_index') }}">Admin</a>

{% endblock %}
