{% extends 'base.html.twig' | cms_path_template %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

    Front thème Horizon

    <div class="div-test-css">Div test CSS</div>

    <a class="btn btn-primary" href="{{ path('admin_dashboard_index') }}">Admin</a>

{% endblock %}
