{% extends 'admin/admin.html.twig' %}

{% block title %}dashboard{% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>


        <h3>Left Sidebar with Submenus</h3>
        <p class="lead">
            An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only a single
            menu is be open at a time. While the sidebar itself is not toggle-able, it does responsively shrink in width on smaller screens.</p>
        <ul class="list-unstyled">
            <li><h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile</li>
        </ul>

        Ca marche

{% endblock %}
