{% extends 'admin/admin.html.twig' %}

{% block title %}TODO Liste{% endblock %}

{% block body %}

    <div id="admin-dashboard-todo">
        <h1>TODO Liste</h1>

        <div class="alert alert-info">
            Cette page à pour vocation à lister les évolutions/problèmes à régler avant la V1, doit disparaitre une fois
            la V1 sortie
        </div>

        <ul>
            <li><b>Mise à jour des routes</b>
                <ul>
                    <li><span class="badge bg-danger">BUG</span> Dans <kbd>App\Service\Admin\System\AccessService::isGranted</kbd>
                        comprendre pourquoi la route <kbd>admin_route_ajax_update</kbd> pose problème quand on passe
                        dedans avec
                        ensuite [$user = $this->security->getUser()] qui semble poser problème avec l'update ( 10 routes
                        sont considérées comme obsolètes à chaque fois)
                        <br/>Solution, stocker les roles en session pour éviter de faire appel à geUser();
                    </li>
                </ul>
            </li>
            <li><b>Gestion des utilisateurs</b>
                <ul>
                    <li><span class="badge bg-warning">TODO</span> Mise en place du système du remplacement d'un
                        utilisateur par John Doe sur toute les données associées à un utilisateur que l'on veux
                        supprimer
                    </li>
                </ul>
            </li>
            <li><b>Médiathèque / Gestion des dossiers</b>
                <ul>
                    <li><span class="badge bg-primary">Evolution</span> A l'ajout ou édition d'un dossier, refaire
                        l'affichage du choix du dossier parent, idéalement l'afficher en forme d'arbre
                    </li>
                    <li><span class="badge bg-danger">BUG</span> Dans <kbd>public/assets/js/admin/MediaLib.js</kbd> la fonction <kbd>MediaLib.RecursiveOpenFolder()</kbd> provoque cette erreur
                        <br /><code>
                            Uncaught RangeError: Maximum call stack size exceeded <br />
                            at String.replace (<anonymous>) <br />
                                at se (jquery-3.6.0.min.js:2) <br />
                                at Function.se.matches (jquery-3.6.0.min.js:2) <br />
                                at Function.S.filter (jquery-3.6.0.min.js:2) <br />
                                at S.fn.init.S.fn.<computed> [as next] (jquery-3.6.0.min.js:2) <br />
                                    at Object.MediaLib.RecursiveOpenFolder (MediaLib.js?version=v1:323) <br />
                                    at Object.MediaLib.RecursiveOpenFolder (MediaLib.js?version=v1:330) <br />
                                    at Object.MediaLib.RecursiveOpenFolder (MediaLib.js?version=v1:330) <br />
                                    at Object.MediaLib.RecursiveOpenFolder (MediaLib.js?version=v1:330) <br />
                                    at Object.MediaLib.RecursiveOpenFolder (MediaLib.js?version=v1:330) <br />
                        </code>
                    </li>
                    <li><span class="badge bg-danger">BUG</span> Il est possible de déplacer un dossier parent dans un de ses enfants => Crash. Ce cas ne doit pas être possible </li>
                </ul>
            </li>
        </ul>
    </div>

{% endblock %}
