{% extends 'admin/admin.html.twig' %}

{% block title %}{{ "admin_role#Gestion des rôles" | trans }}{% endblock %}

{% block body %}
<div id="admin-route-globale">
    <h1>{{ "admin_role#Gestion des rôles" | trans }}</h1>

    {{ breadcrumb | breadcrumb | raw }}
</div>
{% endblock %}

{% block javascripts %}

    <script>
        $( document ).ready(function() {

        });
    </script>

{% endblock %}