{% extends 'base.html.twig' | cms_path_template %}

{% block body %}
    <header class="border border-primary rounded mb-3 p-4">
        Header
    </header>

    <main class="container-fluid mb-3">

        <div class="row">
            <div class="col-md-8 border border-primary rounded p-2">
                {% block main %}{% endblock %}
            </div>
            <div class="col-md-4 border border-primary rounded">
                Menu
            </div>
        </div>
    </main>

    <footer class="border border-primary rounded p-4">
        footer
    </footer>
{% endblock %}