<div class="card">
    <div class="card-header">
       {{ folder | pathFolder | raw }}
    </div>
    <div class="card-body">
        Ici
    </div>
</div>

{% block javascripts %}

    <script>
        $(document).ready(function () {
            MediaLib.EventMedia();
        });
    </script>

{% endblock %}